:root {

  --w-logo                : 230px;

  --color-1               : #AB3CB9;
  --color-2               : #438ae4;
  --color-3               : #4cb0ff;

}

body {
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

.main-header {
  /* background-color: pink; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-header__logo {
  /* background-color: crimson; */
}

.logo {
  /* background-color: tomato; */
  width: var(--w-logo);
}

.icon__menu {
  /* background-color: brown; */
  display: block;
}

.icon__menu svg {
  fill: var(--color-2);
  width: 50px;
  height: 40px;
  position: relative;
  top: 5px;
  left: -10px;
}

.main-header__icons {
  /* background-color: darkorchid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.main-header__icons__item {
  /* background-color: crimson; */
  font-size: 12px;
  text-align: center;
  color: var(--color-1);
  text-decoration: none;
}

.main-header__icons__item:hover,
.main-header__icons__item:hover svg {
  color: var(--color-2);
  fill: var(--color-2);
}

.main-header__icons__item svg {
  fill: var(--color-1);
  width: 40px;
  height: 40px;
}

.main-header__search {
  /* background-color: darkorange; */
}

.main-header__search__box {
  border: 1px solid var(--color-2);
  border-radius: 15px;
  font-size: 13px;
  position: relative;
}

.main-header__search input[type="text"] {
  width: calc(100% - 50px);
  height: 29px;
  padding-left: 10px;
  color: #333;
  outline: none;
  border: none;
  border-radius: 15px;
}

.main-header__search button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 29px;
  width: 80px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: var(--color-2);
  border-radius: 15px;
  cursor: pointer;
}

.menu__desktop {
  background-color: var(--color-1);
}

.menu__desktop__list {
  display: flex;
  justify-content: space-around;
}

.menu__desktop__list__item {
  height: 50px;
  display: flex;
  align-items: center;
}

.menu__desktop__list__link {
  color: white;
  text-decoration: none;
  position: relative;
}

.menu__desktop__list__link:hover {
  color: var(--color-3);
}

.menu__desktop__list__link img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 30px;
}

#carouselHome .carousel-item {
  height: 375px;
  position: relative;
}

#carouselHome .carousel-item img {
  position: absolute;
  width: 100%;
  height: 375px;
}