@media screen and (min-width: 992px) {

  .main-header__icons {
    /* background-color: chartreuse; */
    max-width: 300px;
  }

  .main-header__search {
    padding-bottom: 0;
  }

  #carouselHome .carousel-item,
  #carouselHome .carousel-item img {
    height: 375px;
  }

}